body {
    background-color: #FFF0F5;
}
#flex {
    display: flex;
    flex-direction: row;
}
nav {
    background-color: #FFE4E1;
}
main {
    background-color: #FFF1F9;
}
h1 {
    color: #DDA0DD;
}
h2 {
    color: #DA70D6;
}